p{
    font-weight: bold;
    font-size: 100px;
}

#top{
    text-decoration: underline;
}

.emphasizedText{
    font-style: italic;
    color:coral;
}

body{
    background-color: #ebb8c9;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    border: 25px dotted black;
    margin: 100px;
    padding: 10px;
}

.center-list{
    padding-left: 0;
    list-style-position: outside;
    margin: 0 auto;
    display:table;
    text-align: left;
}
